/*-- about --*/
.about,.statistics,.experience,.feedback,.projects,.contact{
    padding: 4em 0;
}
/*-- experience --*/
.experience{
	background:#FFFFFF;
}
.experience-heading h3{
	color: #2f2f2f;
}
.w3-agile-experience-grids {
    margin: 4em 0 0 0;
}
.experience-grid{
    text-align: center;
    padding: 2em;
    border-right: solid 1px #999999;
}
.experience-grid-icon i.fa.fa-folder-open,.experience-grid-icon i.fa.fa-bell,.experience-grid-icon i.fa.fa-comments,.experience-grid-icon i.fa.fa-asterisk{
    color: white;
    background: none;
    border: solid 2px #A0D431;
    width: 100px;
    height: 100px;
    font-size: 2em;
    padding: 1.1em 0 0 0;
}
.experience-grid-info h5{
    color: #2f2f2f;
    font-size: 1.5em;
    margin: 1em 0 0 0;
    font-weight: 700;
}
.experience-grid-info p{
	color: #999999;
    font-size: .9em;
    margin: 1em 0 0 0;
    line-height: 1.8em;
}
.experience-grid3 {
    border-bottom: none !important;
    border-right: none !important;
}
/* Radial Out */
.hvr-radial-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
  background: none;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-radial-out:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #A0D431;
  border-radius: 100%;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-radial-out:hover, .hvr-radial-out:focus, .hvr-radial-out:active {
  color: #FFFFFF;
}
.experience-grid-icon:hover:before{
  -webkit-transform: scale(2);
  transform: scale(2);	
  color:#FFFFFF;
    transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
}

.experience-grid-icon:hover div i.fa.fa-folder-open,.experience-grid-icon:hover div i.fa.fa-bell,.experience-grid-icon:hover div i.fa.fa-comments,.experience-grid-icon:hover div i.fa.fa-asterisk{
	color: #FFFFFF;
}
/*-- //experience --*/
/*-- responsive --*/
@media(max-width:1440px){
	#m_nav_menu {
		right: 140px!important;
	}
	.nav-tabs {
		width: 38%;
	}
}
@media(max-width:1366px){
	#m_nav_menu {
		right: 105px!important;
	}
}
@media(max-width:1280px){
	#m_nav_menu {
		right: 61px!important;
	}
	.nav-tabs {
		width: 43%;
	}
}
@media(max-width:1080px){
	.nav-tabs {
		width: 51%;
	}
	.m_nav_item a {
		font-weight: 600 !important;
	}
	#m_nav_container {
	    text-align: center !important;
		box-shadow: 0 0 2px #000 !important;
	}
	#m_nav_list {
	    margin: 0.5em 0 0 0 !important;
	}
	.nav-tabs {
		margin: 1em auto;
	}
}
@media(max-width:1024px){
	#m_nav_menu {
		right: 33px!important;
	}
	.nav-tabs {
		width: 54%;
	}
}
@media(max-width:991px){
	.w3ls-banner-left {
		width: 35%;
	}
	.w3ls-banner-right {
		width: 65%;
	}
	.banner-right-img {
		float: none;
		width: 35%;
	}
	.banner-right-info {
		float: none;
		width: 100%;
		margin: 1em 0 0 0;
	}
	.w3-button {
		margin: 1em 0 0 0;
	}
	.social-info {
		float: left;
		width: 30%;
	}
	#m_nav_menu {
		right: 120px!important;
	}
	.wthree-about-right {
		margin: 2em 0 0 0;
	}
	.statistics-grid2:before {
		left: -38px;
	}
	.statistics-grid2:after {
		right: -38px;
	}
	.experience-grid {
		border-right: none;
	}
	.experience-grid2 {
		border-bottom: solid 1px #999999 !important;
	}
	.m_nav_item a {
		font-size: 1em !important;
	}
	.feedback-grids {
		width: 100%;
	}
	.feedback-top:after {
		left: 10%;
	}
	.w3_tab_img_left {
		float: left;
		width: 25%;
	}
	.styled-input {
		width: 48%;
	}
}
@media(max-width:800px){
	#m_nav_menu {
		right: 31px!important;
	}
	.nav-tabs {
		width: 70%;
	}
}
@media(max-width:736px){
	#m_nav_menu {
		right: 16px!important;
	}
	.agile-statistics-grid {
		float: left;
		width: 33.33%;
	}
	.nav-tabs {
		width: 71%;
	}
	#m_nav_container {
		height: 230px !important;
	}
}
@media(max-width:667px){
	.social-info {
		width: 35%;
	}
	.nav-tabs > li {
		margin: 0 4px;
	}
	.w3_tab_img_left {
		width: 50%;
	}
}
@media(max-width:640px){
	.nav-tabs {
		width: 73%;
	}
}
@media(max-width:568px){
	.social-info {
		width: 40%;
	}
	.agile-statistics-grid p {
		font-size: .9em;
		letter-spacing: 0px;
	}
	.statistics-grid2:before {
		left: -28px;
		width: 32%;
	}
	.statistics-grid2:after {
		right: -28px;
		width: 32%;
	}
	.experience-grid {
		padding: 2em 0;
	}
	.nav-tabs {
		width: 84%;
	}
}
@media(max-width:480px){
	.banner-right-img {
		width: 45%;
	}
	.w3ls-banner-left {
		float: none;
		width: 100%;
		margin: 1em 0 0 0;
	}
	.w3ls-banner-right {
		width: 100%;
		float: none;
	}
	.banner-right-img {
		width: 36%;
		margin: 0 auto;
	}
	.w3l-banner-grids {
		margin: 2em 0 0 0;
	}
	.banner {
		padding: 1em 0 2em;
	}
	.about, .statistics, .experience, .feedback, .projects, .contact {
		padding: 2em 0;
	}
	.agile-statistics-grid {
		float: none;
		width: 100%;
	}
	.statistics-grid2 {
		position: relative;
		margin: 6em 0;
	}
	.statistics-grid2:before {
		left: 216px;
		width: 2px;
		height: 65px;
		top: -77px;
	}
	.statistics-grid2:after {
		right: 215px;
		width: 2px;
		height: 65px;
		top: 200px;
	}
	.nav-tabs > li > a {
		padding: 5px 8px;
	}
}
@media(max-width:414px){
	.wthree-about-left h3, .wthree-about-right h3, .w3-agileits-statistics-heading h3 {
		font-size: 1.5em;
	}
	.agile-statistics-grids {
		margin: 2em 0 0 0;
	}
	.statistics-grid2:before {
		left: 183px;
	}
	.statistics-grid2:after {
		right: 183px;
	}
	.w3-agile-experience-grids {
		margin: 0em 0 0 0;
	}
	.experience-grid {
		padding: 1em 0;
	}
	.nav-tabs {
		width: 95%;
	}
	.nav-tabs {
		margin: 1em auto 0;
	}
	.map-grid iframe {
		height: 200px;
	}
	.styled-input {
		width: 100%;
	}
	.styled-input {
		margin: 1em 0em;
	}
	.styled-input.agile-styled-input-top {
		margin-top: 1em;
	}
	.m_nav_ham {
		width: 25px !important;
		height: 2px !important;
	}
	.m_nav_ham_2_open {
		margin-top: -7px !important;
	}
	.m_nav_ham_1_open {
		margin-top: 11px !important;
	}
}
@media(max-width:384px){
	.statistics-grid2:before {
		left: 170px;
	}
	.statistics-grid2:after {
		right: 170px;
	}
	.nav-tabs > li > a {
		font-size: .87em;
	}
	.contact-form {
		margin: 2em 0 0 0;
	}
}
@media(max-width:375px){
	.statistics-grid2:before {
		left: 162px;
	}
	.nav-tabs > li {
		margin: 3px 4px;
	}
	.w3_tab_img_left {
		width: 100%;
		margin: 1em 0 0 0;
	}
}
@media(max-width:320px){
	.agile-logo {
		width: 50%;
	}
	.agile-logo h1 a {
		font-size: .3em;
	}
	.agile-logo h1 a span {
		font-size: 2.3em !important;
	}
	.banner-right-img {
		width: 60%;
	}
	.w3ls-banner-right {
		padding: 0;
	}
	.social-info {
		width: 100%;
		float: none;
		margin-bottom: 1em;
	}
	.agileinfo-social-grids {
		float: none;
		margin: 0;
		width: 100%;
	}
	.w3ls-banner-left {
		padding: 0;
	}
	.agile-statistics-grid i.fa.fa-desktop, .agile-statistics-grid i.fa.fa-user, .agile-statistics-grid i.fa.fa-trophy {
		width: 80px;
		height: 80px;
		padding: 1.2em 0 0 0;
	}
	.statistics-grid2:before {
		left: 135px;
	}
	.statistics-grid2:after {
		right: 135px;
		top: 181px;
	}
	.experience-grid-icon i.fa.fa-folder-open, .experience-grid-icon i.fa.fa-bell, .experience-grid-icon i.fa.fa-comments, .experience-grid-icon i.fa.fa-asterisk {
		width: 80px;
		height: 80px;
		padding: .7em 0 0 0;
	}
}
/*-- //responsive --*/