body{
	background-color: #ECECEC;			
}

hr{
	border-top: 1px solid black;
}

/* Logo */

#rowLogo{
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: solid 1px black;
}

/* //Logo */

.marBot{
	margin-bottom: 20px;
}

/* ======= FOOTER ====== */

#copyright{
	color: black;
	font-size: 18px;
}

footer{
	text-align: center;
	background-color: #ECECEC;
	width: 100%;
	height: 40px;
	margin-top: 50px;
}

.linhaFooter{
	width: 100%;
	border-top: solid 1px black;
	margin-bottom: 10px;
}

/* //Footer */

/* Esconder alt das imagens */

#blah1t, #blah1td, #blah1r, #blah2t, #blah2td, #blah2r, #blah3t, #blah3td, #blah3r, #blah4t, #blah4td, #blah4r, #blah1tDR, #blah2tDR, #blah3tDR, #blah4tDR{
	display: none;
}


/*  ===============================================================================
									Página Index
	=============================================================================== */

	#footerIndex{
		position: fixed;
		bottom: 0;
	}

	#linhaButtons{
		margin-top: 10%;
	}

	#labelRecDest, #labelAddSeccao, #labelAddTransfer{
		height: 200px;
		width: 100%;
		padding-top: 27px;
		border-radius: 10px;
		padding-bottom: 50px;
	}

	#labelRecDest:hover, #labelAddSeccao:hover, #labelAddTransfer:hover{
		border: solid 2px #C5E77D !important;
	}

	.labelActiveIndex{
		border: solid 2px #A0D431 !important;
	}

	.labelHover:hover{
		cursor: pointer;
	}

	.labelActiveIndex{
		text-align: center;
		padding-top: 22% !important;
	}

/*  =============================================================================================
								//FIM	Página Index							*/


/*  =============================================================================================
							Página Adicionar recentes / destaques
	============================================================================================= */

#labelRecentes, #labelDestaques{
	height: 78px;
	width: 100px;
	padding-top: 27px;
	border-radius: 10px;
	padding-bottom: 50px;
}

#labelRecentes:hover, #labelDestaques:hover{
	border: solid 2px #C5E77D !important;
}

.labelActive{
	border: solid 2px #A0D431 !important;
}

.labelHover:hover{
	cursor: pointer;
}

.updateButton{
	width: 100%; 
	border: none;
	color: white; 
	background-color: black;
	height: 40px;
}

.updateButton:hover{
	background-color: white;
	color: black;
	border: solid 1px black;
}

/*  =============================================================================================
						//FIM	Página Adicionar recentes / destaques 							*/


/*  ===============================================================================
							Página Adicionar Transfer
	=============================================================================== */

	.buttonDropdown{
		border: solid 2px black;
	}

/*  =============================================================================================
						//FIM	Página Adicionar recentes / destaques 							*/


/*  ===============================================================================
							Página Adicionar Secção
	=============================================================================== */

	#footerSeccao{
		position: fixed;
		bottom: 0;
	}

/*  =============================================================================================
						//FIM	Página Adicionar Secção						*/