body{
	background-color: #ECECEC;			
}

hr{
	border-top: 1px solid black;
}

/* Logo */

#rowLogo{
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: solid 1px black;
}

/* //Logo */


#updateButton{
	width: 100%; 
	border: none;
	color: white; 
	background-color: black;
	height: 40px;
}

#updateButton:hover{
	background-color: white;
	color: black;
	border: solid 1px black;
}

.marBot{
	margin-bottom: 20px;
}

/* ======= FOOTER ====== */

#copyright{
	color: black;
	font-size: 18px;
}

footer{
	text-align: center;
	background-color: #ECECEC;
	width: 100%;
	height: 40px;
	margin-top: 50px;
}

.linhaFooter{
	width: 100%;
	height: 1px;
	background-color: black;
	margin-top: -10px;
	margin-bottom: 10px;
}

/* //Footer */

/* Esconde alt das imagens*/

#blah1, #blah1t, #blah2, #blah2t, #blah3, #blah3t, #blah4, #blah4t{
	display: none;
}