body{
	background-color: #ECECEC;			
}

hr{
	border-top: 1px solid black;
}

/* Logo */

#rowLogo{
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: solid 1px black;
}

/* //Logo */


#updateButton{
	width: 100%; 
	border: none;
	color: white; 
	background-color: black;
	height: 40px;
}

#updateButton:hover{
	background-color: white;
	color: black;
	border: solid 1px black;
}

.marBot{
	margin-bottom: 20px;
}

/* ======= FOOTER ====== */

#copyright{
	color: black;
	font-size: 18px;
}

footer{
	text-align: center;
	background-color: #ECECEC;
	width: 100%;
	height: 40px;
	margin-top: 50px;
}

.linhaFooter{
	width: 100%;
	height: 1px;
	background-color: black;
	margin-top: -10px;
	margin-bottom: 10px;
}

/* //Footer */

/* Esconder alt das imagens 

#blah1t, #blah1td, #blah1r, #blah2t, #blah2td, #blah2r, #blah3t, #blah3td, #blah3r, #blah4t, #blah4td, #blah4r{
	display: none;
}*/

/*  =============================================================================================
							Página Adicionar recentes / destaques
	============================================================================================= */

#labelRecentes, #labelDestaques{
	height: 78px;
	width: 100px;
	padding-top: 27px;
	border-radius: 10px;
	padding-bottom: 50px;
}

#labelRecentes:hover, #labelDestaques:hover{
	border: solid 2px #C5E77D !important;
}

.labelActive{
	border: solid 2px #A0D431 !important;
}

.labelHover:hover{
	cursor: pointer;
}

/*  =============================================================================================
						//FIM	Página Adicionar recentes / destaques 							*/